*{
padding: 0;
margin: 0;
}
body{
    background-color: darkorchid
}
.flex-box{
    display: flex;
    flex-direction: column;
    background-color:lightblue;
}
#case-1{
    Width: 30%;
    Padding: 5px;
    Border: 2px solid green;
    Margin: 0;
    min-height: 30px;
    padding: 20px;
    display: inline;
    
}
#case-2{
    Width: 30%;
    Padding: 5px;
    Border: 2px solid green;
    Margin: 0;
    min-height: 30px;
    padding: 20px;
}
#case-3{
    Width: 32px;
    Padding: 5px;
    Border: 2px solid green;
    Margin: 0;
}
#case-4{
    Width: 32px;
    Padding: 5px;
    Border: 2px solid green;
    Margin: 0;
}
